<app-navbar></app-navbar>

<body>
    <div class="head">
        <h1>/note-editor</h1>
    </div>

    <div>
        <div class="manageNote">

            <button (click)="showPopup()" id="manageNoteButton">
                Edit note
            </button>
            
            <button id="deleteNoteButton">
                Delete
            </button>
            
        </div>

        <div class="noteHeader">
            <h1 id="noteTitle">{{note?.title}}</h1>

            <div class="creatorSection">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M17.982 18.725A7.488 7.488 0 0 0 12 15.75a7.488 7.488 0 0 0-5.982 2.975m11.963 0a9 9 0 1 0-11.963 0m11.963 0A8.966 8.966 0 0 1 12 21a8.966 8.966 0 0 1-5.982-2.275M15 9.75a3 3 0 1 1-6 0 3 3 0 0 1 6 0Z" />
                </svg>
    
                <p>{{note?.creator}}</p>
            </div>
        </div>

        <div class="dates">
            <h2>Last modified: {{note?.lastModificationDate | date:'dd MMM yyyy, hh:mm' }}</h2>
            <h2>Created: {{note?.creationDate | date:'dd MMM yyyy, hh:mm' }}</h2>
        </div>
    
    </div>

    <div class="noteBody">
        <textarea id="noteTextArea">{{note?.body}}</textarea>
    </div>

    <div #popupbox class="noteManagerTab" id="popup">
        <div class="popup-content">
          <span class="close">&times;</span>
          <h2>Questo è il riquadro al centro!</h2>
          <p>Qui puoi inserire qualsiasi contenuto.</p>
        </div>
      </div>
</body>


